body {
    margin: 0;
    background: #A5B1C6;
}

header {
    height: 680px;
    background: #111A33;
    background-image: url('img/header.png');
    text-align: center;
}

header .logo {
    height: 250px;
    margin: 20px 0 20px 0;
}

header .slideshow {
    height: 300px;
    overflow: hidden;
    margin: 50px auto;
    position: relative;
    top: -50px;
    text-align: center;
}

header .slideshow .slide {
    width: 940px;
    position: absolute;
    left: 50%;
    margin-left: -470px;

    display: none;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity .5s, transform .3s;
}

header .slideshow .slide span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: Montserrat;
    color: #fff;
    background: rgba(0,0,0,.75);
    padding: 5px;
}

header .slideshow .slide img {

}

header ul {
    position: absolute;
    top: 648px;
    left: 50%;
    width: 800px;
    height: 64px;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    margin-left: -400px;
    padding: 0;
    background: #4A67A8;
}

header ul li {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #A5B1C6;
    display: inline-block;
    margin: 22px 25px;
    margin-bottom: 50px;
    cursor: pointer;
}

header ul li a {
    color: #A5B1C6;
    text-decoration: none;
}

header ul li:hover {
    color: #fff;
}

header .menubtn {
    display: none;
    position: absolute;
    top: 70vh;
    width: 100%;
    height: 64px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: #4A67A8;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 800px) {
    header {
        height: 70vh;
    }

    header .logo {
        max-width: 417px;
        width: 80%;
        height: auto;
    }

    header .slideshow {
        position: absolute;
        top: 25vh;
        width: 100%;
        margin-top: 25%;
    }

    header .slideshow .slide {
        left: 0;
        margin-left: 0;
        width: 100vw;
    }

    header .slideshow .slide span {
        font-size: 12px;
        bottom: 0;
        left: 0;
    }

    header .slideshow .slide img {
        width: 100vw;
        height: auto;
    }

    header ul {
        display: none;
    }
    header .menubtn {
        display: block;
    }
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(165, 177, 198, 0.91);
    list-style: none;
    z-index: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    font-family: Montserrat;
    font-size: 5vh;
    font-weight: 800;
    color: #111A33;
    padding-top: 5vh;
}

.menu li a {
    text-decoration: none;
    color: #111A33;
}

.menu .close {
    position: fixed;
    top: 0;
    right: 0;
    background: transparent;
    font-size: 50px;
    color: #111A33;
    border: none;
    font-weight: 800;
    padding: 20px;
    outline: none;
    cursor: pointer;
}

section {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    background: white;
    margin: 50px;
    text-align: left;
    padding: 50px;
    font-family: Montserrat;
    line-height: 25px;
}

section h1 {
    font-family: Montserrat;
    font-size: 25px;
    margin: 20px 0 20px 0;
}

section h2 {
    font-size: 18px;
}

section a {
    font-weight: 600;
    border-bottom: 2px solid #000;
}

section ul {
    text-align: left;
    margin: 0 auto;
}

section .video {
    width: 32vw;
    height: 18vw;
    margin: 20px auto;
}

.whatwedo .left {
    width: 40%;
    float: left;
    padding: 5px;
}

.whatwedo .right {
    width: 40%;
    float: right;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    section {
        width: 100%;
        margin: 80px 0;
        padding: 20px;
    }

    section .video {
        width: 90vw;
        height: 50.625vw;
        margin: 20px auto;
        position: relative;
        left: -20px;
    }

    .whatwedo .left {
        float: none;
        padding: 0;
        width: 100%;
    }

    .whatwedo .right {
        float: none;
        padding: 0;
        width: 100%;
    }
}

.testimonals .quote {
    width: 75%;
    margin: 20px;
    padding: 20px;
    background: #eee;
    font-size: 18px;
}

.testimonals .quote p {
    font-weight: 600;
    color: #111A33;
}

.sendmessage {
    margin: 50px auto;
    text-align: center;
    width: 400px;
}

.sendmessage input, .sendmessage textarea {
    margin: 10px auto;
    padding: 20px;
    width: 300px;
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,.5);
}

.sendmessage .submit {
    padding: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #111A33;
    color: rgba(255,255,255,.8);
}

.contact-float {
    position: absolute;
    top: 800px;
    right: 5%;
    height: 450px;
    width: 300px;
    background: #fff;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .contact-float {
        display: none;
    }

    .sendmessage {
        width: 90%;
        margin: 20px auto;
    }

    .sendmessage input, .sendmessage textarea {
        width: 80%;
    }
}

.contact-float h1 {
    margin: 20px;
}


.contact-float .msgbtn {
    display: block;
    margin: 10px auto;
    padding: 15px 30px 10px 20px;
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    background: #111A33;
    color: rgba(255,255,255,.8);
    font-family: Montserrat;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
}

.contact-float img {
    margin: 0;
}

.contact-float a {
    text-decoration: none;
    color: #000;
}

footer {
    width: 100%;
    height: 250px;
    background: #000;
    text-align: center;
    padding: 25px 0;
    font-family: Montserrat;
    color: #fff;
}

footer ul {
    text-align: center;
    list-style: none;
    margin: 20px auto;
    padding: 0;
    height: 30px;
    width: 100%;
}

footer ul li {
    font-size: 18px;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

footer a {
    border-bottom: 1px solid #888;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    footer ul li {
        font-size: 12px;
        margin: 0 5px;
    }
}
